/* COMMON */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Whitney",sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

img{
    width: 100%;
}

.container{
    width: 70%;
    margin: auto;
}

.col{
    float: left;
}

a{
    text-decoration: none;
}

.button{
    border-radius: 80px;
}

.button:not(:only-child){
    margin: auto 20px;
}

.white-button{
    background-color: white;
    color: black;
}

.black-button{
    background-color: black;
    color: white;
    font-weight: bold;
}

.small-button{
    padding: 12px 15px;
}

.large-button{
    padding: 20px 40px;
    font-size: 20px;
}

/* HEADER*/

/* Shared Header */
header{
    background-color: #255ee9;
    font-size: 17px;
}

.logo, .login{
    width: 15%;
}

.sub-menu{
    width: 70%;
}

/* Logo */
.logo img{
    width: 50%;
    vertical-align: middle;
}

/* Menu List */
.head-menu{
    line-height: 80px;
}

.links{
    list-style-type: none;
    text-align: center;
}

.links li{
    display: inline-block;
    margin: auto 25px;
}

.links a{
    color: white;
}

/* Login */
.login{
    text-align: right;
}

/* MAIN */

/* Banner */
.banner{
    position: relative;
    height: 700px;
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-text{ 
    position: absolute;  
    width: 45%; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

h1{
    font-size: 60px;
    position: relative;
    bottom: 160px;
}

.banner-text p{
    font-size: 30px;
    line-height: 40px;
    position: relative;
    bottom: 100px;
}

.banner-buttons{
    text-align: center;
    position: relative;
    bottom: 300px;
}

.banner i{
    position: relative;
    right: 10px;
}

/* Sezioni a colonne */
.section{
    position: relative;
}

.wave-section p{
    background-color: #c7c8ca;
}

.wave{
    position: relative;
    top: 20px;
}

.box{
    background-color: #c7c8ca;
    height: 700px;
}